@font-face {
  font-family: 'OpenSans-Medium';
  src: url("../fonts/OpenSans/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  padding: 0px 15px;
}

@media (min-width: 640px) {
  .container {
    padding: 0px 20px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0px 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
  }
}

body {
  min-width: 320px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-family: 'OpenSans-Regular', 'Arial', 'sans-serif';
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #e74c3c;
}

.header__inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }
}

@media (min-width: 1024px) {
  .header {
    background: none;
    position: absolute;
    z-index: 99;
    width: 100%;
  }
}

.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
}

.menu__btn::after {
  content: "";
  width: 14px;
  height: 2px;
  border-radius: 3px;
  background-color: #e74c3c;
  position: absolute;
  top: 15px;
  left: 14px;
  -webkit-box-shadow: 0 4px 0 0 #e74c3c, 0 8px 0 0 #e74c3c;
          box-shadow: 0 4px 0 0 #e74c3c, 0 8px 0 0 #e74c3c;
}

@media (min-width: 1024px) {
  .menu__btn {
    display: none;
  }
}

.menu__list {
  height: 0px;
  text-align: center;
  display: none;
}

.menu__list li a {
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__list li a:hover a {
  color: #e74c3c;
}

@media (min-width: 1024px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li {
    padding: 0px 15px;
  }
  .menu__list li:last-child {
    padding-right: 0px;
  }
}

.head {
  background-image: url("../images/foreground.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 395px;
  position: relative;
}

@media (min-width: 768px) {
  .head {
    min-height: 410px;
  }
}

@media (min-width: 1024px) {
  .head {
    min-height: 530px;
  }
}

@media (min-width: 1366px) {
  .head {
    min-height: 690px;
    padding-top: 150px;
  }
}

@media (min-width: 1440px) {
  .head {
    min-height: 735px;
  }
}

.top-slider {
  text-align: center;
}

.top-slider__title {
  padding: 40px 0px 20px 0px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.2px;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 1024px) {
  .top-slider__title {
    font-size: 24px;
    line-height: 24px;
  }
}

.top-slider__welcome {
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  padding: 20px 10px;
  font-family: 'OpenSans-Bold';
}

@media (min-width: 1024px) {
  .top-slider__welcome {
    font-size: 70px;
    line-height: 70px;
  }
}

.top-slider__text {
  color: #cbc6c0;
  font-size: 14px;
  padding: 20px 10px;
  font-family: 'OpenSans-Regular';
  white-space: wrap;
}

@media (min-width: 768px) {
  .top-slider__text {
    padding: 40px 20px;
    max-width: 480px;
    margin: 0px auto;
  }
}

@media (min-width: 1024px) {
  .top-slider__text {
    max-width: 540px;
  }
}

@media (min-width: 1366px) {
  .top-slider__text {
    max-width: 740px;
  }
}

.slick-dots {
  margin: 12px 0px 10px 0px;
}

.slick-dots .slick-active {
  background-color: #e74c3c;
  border-radius: 50px;
  width: 30px;
}

.slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0px 5px;
  z-index: 10;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}

.slick-dots li button {
  display: none;
}

.top-slider__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 180px;
  margin: 0px auto;
}

.top-slider__point--item {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e74c3c;
}

.top-slider__point--item::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #cbc6c0;
  position: absolute;
  right: 0;
  top: 4px;
}

.top-slider__point--item::before {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #cbc6c0;
  position: absolute;
  left: 0;
  top: 4px;
}

.accent-btn {
  background-color: #e74c3c;
  width: 100px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 9px;
  margin: 0px 6px;
}

@media (min-width: 768px) {
  .accent-btn {
    width: 160px;
    height: 50px;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
  }
}

@media (min-width: 1024px) {
  .accent-btn {
    width: 225px;
    height: 50px;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
  }
}

.btn {
  background-color: transparent;
  width: 100px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 9px;
  margin: 0px 6px;
  border: 1px solid #fff;
}

@media (min-width: 768px) {
  .btn {
    width: 160px;
    height: 50px;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
  }
}

@media (min-width: 1024px) {
  .btn {
    width: 225px;
    height: 50px;
  }
}

.down-block {
  position: absolute;
  bottom: -35px;
  left: 50%;
  right: 0;
  margin-left: -25px;
}

.down-icon img {
  width: 50px;
  height: 50px;
}

.our-blog {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

@media (min-width: 1024px) {
  .our-blog {
    padding-bottom: 40px;
  }
}

.global-title__text {
  padding: 10px 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #6a6a6a;
  font-size: 22px;
}

@media (min-width: 1024px) {
  .global-title__text {
    padding: 25px 0px;
    font-size: 36px;
  }
}

.global-title__bottom {
  padding: 10px 15px 25px 15px;
  color: #999;
  font-size: 14px;
}

.blog-content {
  color: #fff;
  padding-top: 50px;
}

.blog-content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 620px) {
  .blog-content__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.post-bg-left {
  width: 100%;
  min-height: 320px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 620px) {
  .post-bg-left {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .post-bg-left {
    width: 25%;
  }
}

.bg-1 {
  background-image: url("../images/img1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-2 {
  background-image: url("../images/img2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-3 {
  background-image: url("../images/img3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-4 {
  background-image: url("../images/img4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.post-block {
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 320px;
  background-color: #e74e3e;
  padding: 15px 20px 15px 40px;
}

.post-block__title {
  text-transform: uppercase;
  padding: 15px 0px;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}

.post-block__title::after {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  margin-top: 20px;
  background-color: #fff;
}

.post-block__text {
  line-height: 20px;
  padding: 5px 0px;
}

.post-block__link {
  padding: 15px 0px;
  color: #fff;
  font-size: 16px;
}

@media (min-width: 620px) {
  .post-block {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .post-block {
    width: 25%;
    height: 320px;
  }
}

@media (min-width: 1024px) {
  .icon-left::before {
    content: '';
    display: block;
    width: 28px;
    height: 70px;
    background-image: url("../images/icon-left.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: -27px;
    top: 50%;
    margin-top: -35px;
  }
  .icon-right::before {
    content: '';
    display: block;
    width: 28px;
    height: 70px;
    background-image: url("../images/icon-right.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    right: -27px;
    top: 50%;
    margin-top: -35px;
  }
}

.subtitle {
  padding: 10px 0px;
}

.experience {
  width: 100%;
  min-height: 500px;
  color: #fff;
  background-image: url("../images/bg-reit.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0px;
}

@media (min-width: 768px) {
  .experience {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.experience-item {
  padding: 15px 0px;
  margin: 0px 20px;
}

.experience-item__title {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

@media (min-width: 1440px) {
  .experience-item {
    margin: 0px 30px;
  }
}

.our-pricing {
  text-align: center;
  padding-top: 40px;
}

.pricing-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .pricing-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.title-plan {
  position: relative;
  width: 100%;
  min-height: 200px;
}

.title-plan__text {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'OpenSans-SemiBold';
  padding-top: 50px;
  line-height: 24px;
  letter-spacing: 2px;
}

.color-accent {
  color: #e74c3c;
  font-weight: 700;
}

.color-gray {
  color: #999;
  font-weight: 600;
}

.gray-bg {
  background-color: #6a6a6a;
}

.orange-bg {
  background-color: #e74c3c;
}

.block-price {
  position: absolute;
  bottom: -88px;
  left: 50%;
  margin-left: -87px;
  background-image: url("../images/ellipse-price.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 174px;
  height: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-price__main {
  font-size: 35px;
  letter-spacing: 2px;
  font-family: 'Source Sans Pro', sans-serif;
}

.block-price__text {
  color: #999;
  font-size: 16px;
  padding: 15px 0px;
}

.pricing-item {
  max-width: 290px;
  width: 100%;
  padding: 10px 15px;
}

@media (min-width: 768px) {
  .pricing-item {
    max-width: 320px;
  }
}

@media (min-width: 1024px) {
  .pricing-item {
    max-width: 380px;
  }
}

.choouse-plan {
  color: #999;
  background-color: #f4f5f9;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 30px;
}

.choouse-plan__list li {
  padding: 12px 8px;
}

.choouse-btn {
  width: 145px;
  height: 45px;
  cursor: pointer;
  background-color: #999;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  margin-top: 40px;
  -webkit-box-shadow: 0px 7px 7px 0px rgba(219, 220, 224, 0.6);
  box-shadow: 0px 7px 7px 0px rgba(219, 220, 224, 0.6);
}

.choouse-btn-accent {
  width: 145px;
  height: 45px;
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  margin-top: 40px;
  -webkit-box-shadow: 0px 7px 7px 0px rgba(219, 220, 224, 0.6);
  box-shadow: 0px 7px 7px 0px rgba(219, 220, 224, 0.6);
}

.white {
  color: #fff;
}

.our-team {
  background-image: url("../images/team-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 500px;
  text-align: center;
  padding-top: 40px;
}

.keep-touch {
  background-color: #f4f5f9;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */